
h1 {
	color: red;
	font-size: 35px;
	font-weight: 800;
}

h2 {
	color: red;
	font-size: 25px;
	font-weight: 500;
}

p {
	color: red;
}

.mickeyIcon {
	width: 75px; 
	height: 75px;
}

#oliverHeads {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#toysIcon {
	width: 55px;
	height: 55px;
}

#mickeyTurns {
	width: 55px;
	height: 55px;
}

.ollie-liz {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ollie-tongue {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ollie-fam {
	--webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
