

h1 {
	color: red;
	font-size: 35px;
}

h5 {
	color: red;
	font-size: 20px;
}

p {
	color: red;
}

.mickeyIcon {
	width: 75px; 
	height: 75px;
}

#oliverHeads {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#mickeyClub {
	content:url("../images/mmclubhouse.jpg");
	width: 100%;
}

#toysIcon {
	width: 55px;
	height: 55px;
}

#mickeyTurns {
	width: 55px;
	height: 55px;
}